//variable

$firstColor: rgb(26, 47, 78);
$secondColor: #fff;
$thirdColor: #1111;




//section information de contacte, lien reseau sociel

span{
    position: relative;
    top: 5px;
}

section.bg-primary {
    background-color: $firstColor !important;
    color: $secondColor;
    height: auto;
}


ul {
    float: right;
    position: relative;
    padding: 0;
    margin: 5px 0;
    li.reseauSocail{
        font-size: 1em;
        float: left;
        width: 20%;
        list-style: none;
        padding: 5px;
        text-align: center;
    }
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    span {
        text-align: center;
    }
    
    //form rules

    section.set-form {
        border-top: 1px solid black;
        p {
            color: $secondColor;
            text-transform: uppercase;
            font-size: 2rem;
            padding-top: 1vw;
            width: 80%;
            margin:  0 auto 0 auto;

        }
        p:nth-child(2){
            font-size: 1rem;
            width: 50%;
            margin: 0  10px 0 37px;

        }
        form{
            input[type=text] {
                width: 80%;
                margin:  20px 0 0 37px; //trbl
                display: inline-block;
                height: 12vw;
                padding: 0 0 0 10px;
            }

            select {
                width: 80%;
                margin:  20px 0 20px 37px; //trbl
                height: 12vw;

            }
            input[type=text].dateIns{
                margin:  0 0 20px 37px; //trbl
            }
            textarea{
                width: 80%;
                margin:  0 0 20px 37px; //trbl
                height: 25vw;
            }
            input[type=button] {
                margin: 0  10px 50px 37px;
                height: 10vw;
                padding: 5px 10px 5px 10px; //trbl

            }
        }
       
    
}

} // *DONE 





// Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    span {text-align: center;}

    section.set-form {
        background-image: url('/asset/yokoGeri.jpg');
        background-repeat: no-repeat;
        background-size: cover; 
        div {
            width: 90%;
            margin: 0 auto 0 auto; //trbl
            p {
                color: $secondColor;
                text-transform: uppercase;
                width: 80%;
                margin: 0 0 0 37px;
                font-size: 2rem;
            }
            p:nth-child(2) {
                font-size: 1rem;
            }
            form {
                input[type=text]#nom {
                    margin: 20px 0 20px 37px; //trbl
                    height: 5vw;
                    padding: 0 10px 0 10px;
                    width: 40%;
                }
                input[type=text]#telephone {
                    margin: 20px 0 20px 62px; //trbl
                    height: 5vw;
                    padding: 0 10px 0 10px;
                    width: 40%;

                }
                select {
                    width: 89%;
                    margin: 0 0 20px 37px;
                    height: 5vw;
                }
                input[type=text]#inscreptionDate {
                    width: 89%;
                    margin: 0 0 20px 37px;
                    height: 5vw;
                    display: inline-block;
                }
                textarea {
                    width: 89%;
                    margin: 0 0 20px 37px;
                    height: 15vw;
                }
                input[type=button] {
                    margin: 0 0 20px 37px;
                    padding: 5px 10px 5px 10px; //trbl

                }
            }
        }

    }
}// *DONE

/* Large devices (laptops/desktops, 992px and up) */ // *TODOS complite from here ,laptops views
@media only screen and (min-width: 992px) {
    span {text-align: center;}

    section.set-form {
        background-image: url('/asset/yokoGeri.jpg');
        background-repeat: no-repeat;
        background-size: cover; 
        div.bg-danger {
            width: 40%;
            position: relative;
            left:   390px;
            p {
                width: 80%;
                margin: 0 0 0 50px;
                padding-top: 35px;
            }
            p:nth-child(2){
                padding: 0;
            }
            input[type=text]#nom {
                height: 3vw;
            }
            input[type=text]#telephone {
                height: 3vw;
                margin-left: 51px;
            }
            select {
                height: 3vw;
            }
            input[type=text]#inscreptionDate {
                height: 3vw;
                padding: 0 10px 0 10px;
            }
            textarea {
                height: 6vw;
            }
        }
    }

} 

// navbar
.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

nav {
    height: 4rem !important;
}

//fixe navbar

.fixeNavbar {
    position: fixed !important;
    width: 100% !important;
    top: 0 !important;
    z-index: 99999 !important;
}



//carousel 

.carousel-item img {
    height: 82vh !important;
}


//section apropos


.iconSize {
    font-size: 3rem;
    margin-bottom: 1rem;
}

// section our classes 

.bg-secondary{
    background-color: #f7f7f7 !important;
}

.width-ourClasses{
    width: auto !important;
}

section.bg-secondary{
    div.container{
        h3, h6{
            text-align: center;
        }
    }
}






/*set four the background  in the laptop view*/

/*    background-image: url('/asset/yokoGeri.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
